<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>七牛网宿直播流量</title>
    <link rel="stylesheet" href="template/style.css">
    <script src="template/echarts.min.js"></script>
    <script src="template/main.js"></script>

</head>

<body>
    <a href="live" style="font-size: 1.2rem">直播相关展示页面</a>
    <br>
    <a href="cdn" style="font-size: 1.2rem">cdn 相关展示页面</a>
    <br>
    <br>
    查询流量带宽
    <a href="/live?day=7">一周</a>
    <a href="/live?month=1">一月</a>
    <a href="/live?month=3">三个月</a>
    <br>
    <br>
    <strong>将 live 流量日均少于 {{ .LiveOtherTB }}TB 的直播聚合为其他</strong>
    <br>
    <br>
    自定义查询
    <form action="/live">
        <label>
            开始日期
            <input type="date" name="begen" />
        </label>
        <label>
            结束
            <input type="date" name="end" />
        </label>
        <label>
            聚合筛选值（TB）
            <input type="text" name="liveOtherTB">
        </label>
        <button>查询</button>
    </form>
    <br>
    数据有误再一次获取数据
    <form action="/live">
        <select name="sort">
            <option value="qiniu">七牛</option>
            <option value="wangsu">网宿</option>
        </select>
        <label>
            日期
            <input type="date" name="date" />
        </label>
        <button onclick="getDataAgain()">获取</button>
    </form>
    <br>

    <!-- 七牛网宿汇总 -->
    <div class="line-stack" id="qiniu-wangsu-line-stack"></div>
    <div class="pie" id="qiniu-wangsu-pie"></div>

    <!-- 七牛 -->
    <div class="line-stack" id="qiniu-line-stack"></div>
    <div class="pie" id="qiniu-pie"></div>

    <!-- 网宿 -->
    <div class="line-stack" id="wangsu-line-stack"></div>
    <div class="pie" id="wangsu-pie"></div> -->
</body>

<script>
    // 下载图片前缀
    url = window.location.search;
    dm = url.substring(url.lastIndexOf('&') + 1, url.lastIndexOf('&') + 2);
    num = url.substring(url.lastIndexOf('=') + 1, url.length);
    imgPrefix = "live-" + dm + num

    // 七牛网宿汇总
    let qiniuWangsulineStack = JSON.parse("{{ json .QiniuWangsuLiveLineStack }}");
    lineStack(
        qiniuWangsulineStack,
        'qiniu-wangsu-line-stack',
        "七牛网宿汇总 {{ .Name }} 直播带宽（单元：Mbps）",
        "{{ .DownloadImg }}",
        imgPrefix,
    );

    let qiniuWangsuPie = JSON.parse("{{ json .QiniuWangsuLivePie }}");
    pie(
        qiniuWangsuPie,
        "qiniu-wangsu-pie",
        "七牛网宿汇总 {{ .Name }} 直播流量（单元：TB）",
        "{{ .DownloadImg }}",
        imgPrefix,
    );


    // 七牛
    let qiniulineStack = JSON.parse("{{ json .QiniuLiveLineStack }}");
    lineStack(
        qiniulineStack,
        'qiniu-line-stack',
        "七牛 {{ .Name }} 直播带宽（单元：Mbps）",
        "{{ .DownloadImg }}",
        imgPrefix,
    );

    let qiniuPie = JSON.parse("{{ json .QiniuLivePie }}");
    pie(
        qiniuPie,
        "qiniu-pie",
        "七牛 {{ .Name }} 直播流量（单元：TB）",
        "{{ .DownloadImg }}",
        imgPrefix,
    );

    // 网宿
    let wangsulineStack = JSON.parse("{{ json .WangsuLiveLineStack }}");
    lineStack(
        wangsulineStack,
        'wangsu-line-stack',
        "网宿 {{ .Name }} 直播带宽（单元：Mbps）",
        "{{ .DownloadImg }}",
        imgPrefix,
    );

    let wangsuPie = JSON.parse("{{ json .WangsuLivePie }}");
    pie(
        wangsuPie,
        "wangsu-pie",
        "网宿 {{ .Name }} 直播流量（单元：TB）",
        "{{ .DownloadImg }}",
        imgPrefix,
    );
</script>

</html>
